.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 159px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  width: 159px;
}

.imageContainer {
  width: 100%;
  height: 159px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.chipContainer {
  display: flex;
  justify-content: flex-start;
  padding: 8px 8px 8px 8px;
  background-color: #1e1e1e;
}

.titleSection {
  width: 159px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.chip {
  height: 24px;
  font-size: 12px !important;
  padding: 0 8px !important;
  border-color: var(--color-primary) !important;
  color: #fff !important;
}
