.search {
  padding: 14px 20px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 502px;
  background-color: #fff;
  font-size: 14px;
}

.search::placeholder {
  color: #999;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.searchButton:hover {
  background-color: #f0f0f0;
}

.dropdown {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 48px;
  list-style: none;
  background-color: var(--color-black);
  border: 1px solid var(--color-primary);
  border-top: none;
  border-radius: 0px 0px 8px 8px;
  max-height: 500px;
  overflow-y: auto;
  z-index: 10;
}

.listElement {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #333;
  transition: background-color 0.2s;
}

.listElement:hover {
  background-color: #1e1e1e;
}

.albumTitle {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.albumArtists {
  font-size: 12px;
  margin: 5px 0 0 0;
  padding: 0;
  color: #999;
}
