.App {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #34C94B;
  --color-black: #121212;
  --color-white: #FFFFFF;
  --color-grey: #7F7F7F;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}
